*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: beige;
}

/* Tag Selector */
h1{
    font-size: 3rem;
    margin: 20px auto;
}

img{
    width: 28%;
    margin-bottom: 20px;
}


#currentUTCTime{
    margin: 20px auto;
}

#Frontend{
    margin-bottom: 20px;
}